body {
    background: #000000;
}
section{
    background: #222222;
}
.article {
    color: #888888;
    padding:10px;
    margin-bottom: 10px;
}
h3 {
    color: yellow;
    padding: 10px;
}
footer {
    background: yellow;
}
main{
    width: 100wv;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.photoAll{
    width: 100%;
    max-width: 450px;
    height: auto;
}
.main-heading{
    color: yellow;
    text-shadow: 2px 2px 0 #444444;
    text-align: center;
}
.secondary-heading{
    color: #000000;
    background: yellow;
    text-align: center;
}
#kimJestem{
    margin: 20px;
}