body {
    background: #000000;
}
section{
    background: #222222;
}
p {
    color: #888888;
}
h3 {
    color: blue;
}
footer {
    background: blue;
}
main{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
article{
    margin: 20px;
}
.photoAll{
    width: 400px;
    height: auto;
}
.main-heading{
    color: blue;
    text-shadow: 2px 2px 0 #444444;
    text-align: center;
}
.secondary-heading{
    color: #000000;
    background: blue;
    text-align: center;
}
#kimJestem{
    margin: 20px;
}